*{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    font-weight: bold;
    box-sizing: border-box;
}

section{
    position: absolute;
    margin-left: 600px;
    margin-top: 60px;
    font-size: 30px;
}

section div p{
    font-weight: normal;
    line-height: 28px;
    padding-right: 65px;
}

section div h2{
    font-size: 30px;
}

section div .icon{
    font-size: 30px;
}

section h3{
    font-size: 30px;
}

.section-heading{
    width: 850px;
    height: 45px;
    border-bottom: 3px solid black;
}

section h4{
    font-size: 25px;
}

section ul{
    list-style-type:none;
}
/* header{
    
    width: auto;
    height: 250px;
     background-color:#d7dfe4;
    background-color: #dfe0ce;
     background-color: #e9cdcd;
    background-color: #201c1b; 
    justify-content: center;
    align-items: center;
    color: white;
    position: relative;
    margin-top: 100px;
} */

#name-column{
    width: auto;
    height: 250px;
    background-color: #201c1b;
    align-items: center;
    color: white;
    position: relative;
    margin-top: 100px;
}

header h1{
    margin-left: 550px;
}

header h1{
    padding-top: 65px;
    font-size: 75px;
}

header h2{
    font-size: 25px;
}

/* #sidebar{
    height: 160vh;
    width: 380px;
    background-color: #f0b235;
    position: relative;
    z-index: 1;
    left: 100px;
    top: -320px;
    /* word-wrap: break-word;
    right: 50px; 
} */

aside{
    height: 160vh;
    width: 380px;
    background-color: #f0b235;
    position: relative;
    z-index: 1;
    left: 100px;
    top: -320px;
}

.sidebar-content{
    padding-top: 50px;
    padding-right: 50px;
    position: relative;
    top: 45px;
    left: 45px; 
}

.sidebar-content h3{
    font-size: 28px;
}

.sidebar-content i{
    margin: 0px 10px;
}

aside img{
    width: auto;
    height: 300px;
    border-radius: 55%;
    border: 7px solid #3a251b;
    position: relative;
    top: 45px;
    left: 65px;
}

aside .sidebar-heading{
    height: 40px;
    border-bottom: 3px solid black;
}